<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/static/jquery-3.4.1.min.js" ></script>
    <link rel="stylesheet" href="/static/css/questionsInput.css"/>
    <meta charset="UTF-8">
    <title>试题录入页面</title>
</head>
<body>
<h1>试题录入</h1>
<div><a th:href="@{/indexPage}">回到首页</a></div>
<div id="top" >
    欢迎你<span th:text="${session.currentUser.userName}">XXX</span>
    <a th:href="@{/api/v1/logout}">注销</a>
</div>
<div id="questionsInput">
    <div>
        试卷名称: <input id="paperName" type="text">
    </div>
    <div>
        年级:
        <select id="grade">
            <option value="PRIMARY1">一年级</option>
            <option value="PRIMARY2">二年级</option>
            <option value="PRIMARY3">三年级</option>
            <option value="PRIMARY4">四年级</option>
            <option value="PRIMARY5">五年级</option>
            <option value="PRIMARY6">六年级</option>
            <option value="MIDDLE1"> 初一</option>
            <option value="MIDDLE2"> 初二</option>
            <option value="MIDDLE3"> 初三</option>
            <option value="SENIOR1"> 高一</option>
            <option value="SENIOR2"> 高二</option>
            <option value="SENIOR3"> 高三</option>
        </select>
    </div>
    <div>
        整体难度：<input id="paperDifficulty" type="range"><span id="showDifficulty"/>
    </div>
    <div>
        试卷年月：<input id="date" type="month">
    </div>
    <div>
        试卷科目:
        <select id="paperSubject">
            <option value="CHINESE">语文</option>
            <option value="MATH">数学</option>
            <option value="ENGLISH">英语</option>
            <option value="PHYSICS">物理</option>
            <option value="CHEMISTRY">化学</option>
            <option value="BIOLOGY">生物</option>
            <option value="POLITICS">政治</option>
            <option value="HISTORY">历史</option>
            <option value="GEOGRAPHY">地理</option>
        </select>
    </div>
    <div>
        学校：<input id="paperSchool" type="text">
    </div>
    <div id="questions">

    </div>
    <!--点击这里添加题目-->
    <div id="addBox">
        <input type="button" name="popBox" value="添加题目" onclick="popBox()">
    </div>
    <div><button id="submitPaper" onclick="submitPaper()">确认提交试卷</button></div>
</div>


<div id="popLayer"></div>
<!--弹出框里面的东西，添加题目-->
<div id="popBox">
    <div class="close">
        <a  onclick="closeBox()">关闭</a>
    </div>
    <div class="question-content">
        <div>
            问题类型：
            <select id="questionType" onchange="qtChange()">
                <option value="FILL">填空题</option>
                <option value="CHOICE">选择题</option>
                <option value="T_OR_F">判断题</option>
                <option value="HUGE">大题</option>
            </select>
        </div>
        <div id="abcd" style="display:none;">
            <div>A:<input id="A" type="text"></div>
            <div>B:<input id="B" type="text"></div>
            <div>C:<input id="C" type="text"></div>
            <div>D:<input id="D" type="text"></div>
        </div>
        <div>
            分值：<input id="score" type="text">分
        </div>
        <div>
            整体难度：<input id="questionDifficulty" type="range"><span id="showQDifficulty"/>
        </div>
        <div>
            题干描述：<input id="questionText" type="text" >
        </div>
        <div>
            知识点：<input id="knowledgePoints" type="text">
        </div>
        <div>
            添加题目图片：<input id="images" type="file" multiple>
        </div>
        <div id="img1"></div>
        <div id="answer">
            <div>
                添加答案:<input id="questionAnswer" type="text">
            </div>
            <div>
                添加答案图片：<input id="answerImages" type="file" multiple>
            </div>
            <div id="img2"></div>
            <div>
                添加答案解释:<input id="answerExplain" type="text">
            </div>
            <div>
                添加解释图片：<input id="answerExplainImages" type="file" multiple>
            </div>
            <div id="img3"></div>
        </div>
        <button id="addQuestion" onclick="clickAddQues()">确定添加题目</button>
    </div>
</div>
</body>
<script>
    //这两行代码用来控制土图片回显的
    var j=0
    imageInputProcess()
    //paper这个json用来存储试卷信息的
    var paper={
        paperName:"测试试卷1",
        grade:"MIDDLE1",
        paperDifficulty:0.6,
        date:"2019",
        paperSubject:"CHINESE",
        paperSchool:{
            schoolName:"上海大学"
        },
        questions:[]
    }
    //question用来存储一道题目
    var question={
        questionType:"CHOICE",
        A:"",
        B:"",
        C:"",
        D:"",
        score:5,
        difficulty:0.6,
        questionSubject:"CHINESE",
        grade:"MIDDLE1",
        questionText:"这是题目描述",
        knowledgePoints:[],
        images:[],
        questionAnswer:{
            answerText:"这是答案",
            answerImages:[],
            answerExplain:"这是答案解释",
            answerExplainImages:[]
        }
    }
    //动态绑定range值
    setInterval( function () {
        $("#showDifficulty").html($("#paperDifficulty").val())
    }, 50)
    setInterval( function () {
        $("#showQDifficulty").html($("#questionDifficulty").val())
    }, 50)
    /*点击弹出按钮*/
    function popBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
        //imageInputProcess()     //这行傻逼代码，害老子调了五个小时
    };
    /*点击关闭按钮*/
    function closeBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }
    //当打开弹窗后就运行这个函数，这个函数的目的是将图片打开回显到浏览器
    function imageInputProcess() {
        var input1 = $("#images")
        var input2 = $("#answerImages")
        var input3 = $("#answerExplainImages")
        var result
        if(typeof FileReader==='undefined'){
            result.innerHTML = "抱歉，你的浏览器不支持 FileReader";
            input1.setAttribute('disabled','disabled');
            input2.setAttribute('disabled','disabled');
            input3.setAttribute('disabled','disabled');
        }else{
            input1.on("change",readFile1)
            input2.on("change",readFile2)
            input3.on("change",readFile3)
        }　　　　　//handler
        function readFile1() {
            for (var i = 0; i < this.files.length; i++) {
                if (!this['value'].match(/.jpg|.gif|.png|.bmp/i)) {　　//判断上传文件格式
                    return alert("上传的图片格式不正确，请重新选择")
                }
                var reader = new FileReader();
                reader.readAsDataURL(this.files[i]);
                reader.onload = function (e) {
                    result = '<div class="imageContainer"  id="result' + (++j) + '"><img style="width: 100px;height: 100px" src="' + this.result + '" alt=""/><img src="http://www.iconpng.com/png/sm-reflection-r/button-cross.png" class="delete" onclick="deleteImage(this)"/></div>'
                    $("#img1").append(result)
                }
            }
        }
        function readFile2() {
            for (var i = 0; i < this.files.length; i++) {
                if (!this['value'].match(/.jpg|.gif|.png|.bmp/i)) {　　//判断上传文件格式
                    return alert("上传的图片格式不正确，请重新选择")
                }
                var reader = new FileReader();
                reader.readAsDataURL(this.files[i]);
                reader.onload = function (e) {
                    result = '<div class="imageContainer" id="result' + (++j) + '"><img style="width: 100px;height: 100px" src="'+this.result+'" alt=""/><img src="http://www.iconpng.com/png/sm-reflection-r/button-cross.png" class="delete" onclick="deleteImage(this)"/></div>'
                    $("#img2").append(result)
                }
            }
        }
        function readFile3() {
            for (var i = 0; i < this.files.length; i++) {
                if (!this['value'].match(/.jpg|.gif|.png|.bmp/i)) {　　//判断上传文件格式
                    return alert("上传的图片格式不正确，请重新选择")
                }
                var reader = new FileReader();
                reader.readAsDataURL(this.files[i]);
                reader.onload = function (e) {
                    result = '<div class="imageContainer" id="result' + (++j) + '"><img style="width: 100px;height: 100px" src="' + this.result + '" alt=""/><img src="http://www.iconpng.com/png/sm-reflection-r/button-cross.png" class="delete" onclick="deleteImage(this)"/></div>'
                    $("#img3").append(result)
                }
            }
        }
    }
    //点击了添加题目，先保存添加的题目信息，这时把弹窗关掉，然后把添加的题目显示到html当中
    function clickAddQues() {
        var a=0
        //判断输入框不能为空，因为这里的display:none也会被选择所以要分开
        $("#popBox input").not("#images").not("#answerImages").not("#answerExplainImages").each(function () {
            if($("#questionType").val()=="CHOICE"){
                if($(this).val()==""){
                    console.log(this)
                    alert("输入框不能为空")
                    a=1
                    return false
                }
            }
            else {
                if($(this).parent().parent().attr("id")!="abcd"&&$(this).val()==""){
                    alert("输入框不能为空")
                    a=1
                    return false
                }
            }
        })
        if(a==1)
            return
        //保存信息到json当中
        paper.questions.push(saveQuestion())
        //清空弹框中input内容
        $("#popBox input").val("")
        //清空几个回显image中的内容
        $("#img1").html("")
        $("#img2").html("")
        $("#img3").html("")
        closeBox()
        j=0
        //将添加的题目回显到html上
        var questionShow=paper.questions[paper.questions.length-1]
        var div='<div style="position: relative" onclick="questionClick()"><span id="qNO">'+paper.questions.length+'</span>题<p>'+questionShow.questionText+'</p></div>'
        $("#questions").append(div)
    }
    //将弹出框的内容保存到question中
    function saveQuestion() {
        var question1={};
        $.extend(true,question1,question)
        question1.questionType=$("#questionType").val()
        question1.A=$("#A").val()
        question1.B=$("#B").val()
        question1.C=$("#C").val()
        question1.D=$("#D").val()
        question1.difficulty=$("#questionDifficulty").val()
        question1.questionSubject=$("#paperSubject").val()
        question1.grade=$("#grade").val()
        //这里暂时只弄一个知识点
        question1.knowledgePoints.push({knowledgePointName:$("#knowledgePoints").val()})
        question1.questionText=$("#questionText").val()
        question1.questionAnswer.answerExplain=$("#answerExplain").val()
        question1.questionAnswer.answerText=$("#questionAnswer").val()
        question1.images.push({imagePath:"123"})
        question1.questionAnswer.answerImages.push({imagePath:"123"})
        question1.questionAnswer.answerExplainImages.push({imagePath:"123"})
        return question1;
    }

    //点击了题目这里应该弹出框来编辑
    function questionClick() {
        //弹出弹框
        popBox()
        //将题目回显到上面
        console.log(parseInt($($(this).children().get(0)).text())-1)
        var num=parseInt($($(this).children().get(0)).text())-1
        $("#questionType").val(paper.questions[num].questionType)
        $("#A").val(paper.questions[num].A)
        $("#B").val(paper.questions[num].B)
        $("#C").val(paper.questions[num].C)
        $("#D").val(paper.questions[num].D)
        $("#questionDifficulty").val(paper.questions[num].difficulty)
        $("#paperSubject").val(paper.questions[num].paperSubject)
        $("#grade").val(paper.questions[num].grade)
        $("#knowledgePoints").val(paper.questions[num].knowledgePoints[0].knowledgePointName)
        $("#questionText").val(paper.questions[num].questionText)
        $("#score").val(paper.questions[num].score)
        $("#answerExplain").val(paper.questions[num].questionAnswer.answerExplain)
        $("#questionAnswer").val(paper.questions[num].questionAnswer.answerText)
    }
    //题型更改
    function qtChange() {
        console.log("111")
        if($("#questionType").val()==='CHOICE')
            $("#abcd").show()
        else
            $("#abcd").hide()

    }
    //删除图片
    function deleteImage(t) {
        $(t).parent().remove()
    }
    //确认提交试卷
    function submitPaper () {
        paper.date=$("#date").val()
        paper.grade=$("#grade").val()
        paper.paperDifficulty=$("#paperDifficulty").val()
        paper.paperName=$("#paperName").val()
        paper.paperSchool=$("#paperSchool").val()
        paper.paperSubject=$("#paperSubject").val()
        console.log(paper)
    }
</script>
</html>