<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <title>Title</title>
    <style>
        .delete{
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
<div id="1">
1
<button id="123" class="delete" value="123" onclick="click123(this)">23123</button>
</div>
<div >
2
    <img src="http://www.iconpng.com/png/sm-reflection-r/button-cross.png"  onclick="click123(this)"/>
</div>
<div >
6
</div>
</body>
<script>
    function click123(e) {
        console.log($(e))
    }
</script>
</html>